.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem auto;
  }
  .users li {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    text-align: left;
  }
  .users img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .users h4 {
    margin-bottom: 0.15rem;
  }
  .users a {
    color: var(--clr-grey-5);
    text-transform: capitalize;
  }
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }